
.tableReg {
  overflow-x:auto;
}

.tableReg table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.tableReg table th, td {
  text-align: left;
  padding: 8px;
}

.tableReg table tr:nth-child(even){background-color: ghostwhite}

.filter .text {
  border: 1px solid #ddd;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.footer {
  display: block;
    position: fixed !important;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#046B86;
    color: #9DBDBD;
    text-align: center;
  }

  .footer a {
    color:whitesmoke;
  }

.headerImage {
  display: block;
  width: 100%;
  min-width: 320px;
  height: 105px;
  margin-left: auto;
  margin-right: auto;
}
