
.tableData {
  overflow-x:auto;
}

.tableData table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.tableData table th, td {
  text-align: left;
  padding: 8px;
}

.tableData table tr:nth-child(even){background-color: ghostwhite}

.filter .text {
  border: 1px solid #ddd;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#046B86;
    color: #9DBDBD;
    text-align: center;
  }

  .footer a {
    color:whitesmoke;
  }

.headerImage {
  display: block;
  width: 100%;
  min-width: 350px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}