.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#046B86;
    color: #9DBDBD;
    text-align: center;
  }
  .footer a{
    color:whitesmoke;
  }

.headerImage{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  min-width: 465px;
}